<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<dict>
		<key>x</key>
		<integer>1</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>1</key>
	<dict>
		<key>x</key>
		<integer>2</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>2</key>
	<dict>
		<key>x</key>
		<integer>3</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>3</key>
	<dict>
		<key>x</key>
		<integer>4</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>4</key>
	<dict>
		<key>x</key>
		<integer>5</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>5</key>
	<dict>
		<key>x</key>
		<integer>6</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>6</key>
	<dict>
		<key>x</key>
		<integer>7</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>7</key>
	<dict>
		<key>x</key>
		<integer>8</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>8</key>
	<dict>
		<key>x</key>
		<integer>9</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>9</key>
	<dict>
		<key>x</key>
		<integer>10</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>A</key>
	<dict>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>1</integer>
	</dict>
	<key>B</key>
	<dict>
		<key>x</key>
		<integer>1</integer>
		<key>y</key>
		<integer>1</integer>
	</dict>
	<key>C</key>
	<dict>
		<key>x</key>
		<integer>2</integer>
		<key>y</key>
		<integer>1</integer>
	</dict>
	<key>D</key>
	<dict>
		<key>x</key>
		<integer>3</integer>
		<key>y</key>
		<integer>1</integer>
	</dict>
	<key>E</key>
	<dict>
		<key>x</key>
		<integer>4</integer>
		<key>y</key>
		<integer>1</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>x</key>
		<integer>5</integer>
		<key>y</key>
		<integer>1</integer>
	</dict>
	<key>G</key>
	<dict>
		<key>x</key>
		<integer>6</integer>
		<key>y</key>
		<integer>1</integer>
	</dict>
	<key>H</key>
	<dict>
		<key>x</key>
		<integer>7</integer>
		<key>y</key>
		<integer>1</integer>
	</dict>
	<key>I</key>
	<dict>
		<key>x</key>
		<integer>8</integer>
		<key>y</key>
		<integer>1</integer>
	</dict>
	<key>J</key>
	<dict>
		<key>x</key>
		<integer>9</integer>
		<key>y</key>
		<integer>1</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>x</key>
		<integer>10</integer>
		<key>y</key>
		<integer>1</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>x</key>
		<integer>11</integer>
		<key>y</key>
		<integer>1</integer>
	</dict>
	<key>M</key>
	<dict>
		<key>x</key>
		<integer>12</integer>
		<key>y</key>
		<integer>1</integer>
	</dict>
	<key>N</key>
	<dict>
		<key>x</key>
		<integer>13</integer>
		<key>y</key>
		<integer>1</integer>
	</dict>
	<key>O</key>
	<dict>
		<key>x</key>
		<integer>14</integer>
		<key>y</key>
		<integer>1</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>x</key>
		<integer>15</integer>
		<key>y</key>
		<integer>1</integer>
	</dict>
	<key>Q</key>
	<dict>
		<key>x</key>
		<integer>16</integer>
		<key>y</key>
		<integer>1</integer>
	</dict>
	<key>R</key>
	<dict>
		<key>x</key>
		<integer>17</integer>
		<key>y</key>
		<integer>1</integer>
	</dict>
	<key>S</key>
	<dict>
		<key>x</key>
		<integer>18</integer>
		<key>y</key>
		<integer>1</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>x</key>
		<integer>19</integer>
		<key>y</key>
		<integer>1</integer>
	</dict>
	<key>U</key>
	<dict>
		<key>x</key>
		<integer>20</integer>
		<key>y</key>
		<integer>1</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>x</key>
		<integer>21</integer>
		<key>y</key>
		<integer>1</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>x</key>
		<integer>22</integer>
		<key>y</key>
		<integer>1</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>x</key>
		<integer>23</integer>
		<key>y</key>
		<integer>1</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>x</key>
		<integer>24</integer>
		<key>y</key>
		<integer>1</integer>
	</dict>
	<key>Z</key>
	<dict>
		<key>x</key>
		<integer>25</integer>
		<key>y</key>
		<integer>1</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>2</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>x</key>
		<integer>1</integer>
		<key>y</key>
		<integer>2</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>x</key>
		<integer>2</integer>
		<key>y</key>
		<integer>2</integer>
	</dict>
	<key>d</key>
	<dict>
		<key>x</key>
		<integer>3</integer>
		<key>y</key>
		<integer>2</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>x</key>
		<integer>4</integer>
		<key>y</key>
		<integer>2</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>x</key>
		<integer>5</integer>
		<key>y</key>
		<integer>2</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>x</key>
		<integer>6</integer>
		<key>y</key>
		<integer>2</integer>
	</dict>
	<key>h</key>
	<dict>
		<key>x</key>
		<integer>7</integer>
		<key>y</key>
		<integer>2</integer>
	</dict>
	<key>i</key>
	<dict>
		<key>x</key>
		<integer>8</integer>
		<key>y</key>
		<integer>2</integer>
	</dict>
	<key>j</key>
	<dict>
		<key>x</key>
		<integer>9</integer>
		<key>y</key>
		<integer>2</integer>
	</dict>
	<key>k</key>
	<dict>
		<key>x</key>
		<integer>10</integer>
		<key>y</key>
		<integer>2</integer>
	</dict>
	<key>l</key>
	<dict>
		<key>x</key>
		<integer>11</integer>
		<key>y</key>
		<integer>2</integer>
	</dict>
	<key>m</key>
	<dict>
		<key>x</key>
		<integer>12</integer>
		<key>y</key>
		<integer>2</integer>
	</dict>
	<key>n</key>
	<dict>
		<key>x</key>
		<integer>13</integer>
		<key>y</key>
		<integer>2</integer>
	</dict>
	<key>o</key>
	<dict>
		<key>x</key>
		<integer>14</integer>
		<key>y</key>
		<integer>2</integer>
	</dict>
	<key>p</key>
	<dict>
		<key>x</key>
		<integer>15</integer>
		<key>y</key>
		<integer>2</integer>
	</dict>
	<key>q</key>
	<dict>
		<key>x</key>
		<integer>16</integer>
		<key>y</key>
		<integer>2</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>x</key>
		<integer>17</integer>
		<key>y</key>
		<integer>2</integer>
	</dict>
	<key>s</key>
	<dict>
		<key>x</key>
		<integer>18</integer>
		<key>y</key>
		<integer>2</integer>
	</dict>
	<key>t</key>
	<dict>
		<key>x</key>
		<integer>19</integer>
		<key>y</key>
		<integer>2</integer>
	</dict>
	<key>u</key>
	<dict>
		<key>x</key>
		<integer>20</integer>
		<key>y</key>
		<integer>2</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>x</key>
		<integer>21</integer>
		<key>y</key>
		<integer>2</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>x</key>
		<integer>22</integer>
		<key>y</key>
		<integer>2</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>x</key>
		<integer>23</integer>
		<key>y</key>
		<integer>2</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>x</key>
		<integer>24</integer>
		<key>y</key>
		<integer>2</integer>
	</dict>
	<key>z</key>
	<dict>
		<key>x</key>
		<integer>25</integer>
		<key>y</key>
		<integer>2</integer>
	</dict>
	<key>あ</key>
	<dict>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>3</integer>
	</dict>
	<key>い</key>
	<dict>
		<key>x</key>
		<integer>1</integer>
		<key>y</key>
		<integer>3</integer>
	</dict>
	<key>う</key>
	<dict>
		<key>x</key>
		<integer>2</integer>
		<key>y</key>
		<integer>3</integer>
	</dict>
	<key>え</key>
	<dict>
		<key>x</key>
		<integer>3</integer>
		<key>y</key>
		<integer>3</integer>
	</dict>
	<key>お</key>
	<dict>
		<key>x</key>
		<integer>4</integer>
		<key>y</key>
		<integer>3</integer>
	</dict>
	<key>か</key>
	<dict>
		<key>x</key>
		<integer>5</integer>
		<key>y</key>
		<integer>3</integer>
	</dict>
	<key>き</key>
	<dict>
		<key>x</key>
		<integer>6</integer>
		<key>y</key>
		<integer>3</integer>
	</dict>
	<key>く</key>
	<dict>
		<key>x</key>
		<integer>7</integer>
		<key>y</key>
		<integer>3</integer>
	</dict>
	<key>け</key>
	<dict>
		<key>x</key>
		<integer>8</integer>
		<key>y</key>
		<integer>3</integer>
	</dict>
	<key>こ</key>
	<dict>
		<key>x</key>
		<integer>9</integer>
		<key>y</key>
		<integer>3</integer>
	</dict>
	<key>さ</key>
	<dict>
		<key>x</key>
		<integer>10</integer>
		<key>y</key>
		<integer>3</integer>
	</dict>
	<key>し</key>
	<dict>
		<key>x</key>
		<integer>11</integer>
		<key>y</key>
		<integer>3</integer>
	</dict>
	<key>す</key>
	<dict>
		<key>x</key>
		<integer>12</integer>
		<key>y</key>
		<integer>3</integer>
	</dict>
	<key>せ</key>
	<dict>
		<key>x</key>
		<integer>13</integer>
		<key>y</key>
		<integer>3</integer>
	</dict>
	<key>そ</key>
	<dict>
		<key>x</key>
		<integer>14</integer>
		<key>y</key>
		<integer>3</integer>
	</dict>
	<key>た</key>
	<dict>
		<key>x</key>
		<integer>15</integer>
		<key>y</key>
		<integer>3</integer>
	</dict>
	<key>ち</key>
	<dict>
		<key>x</key>
		<integer>16</integer>
		<key>y</key>
		<integer>3</integer>
	</dict>
	<key>つ</key>
	<dict>
		<key>x</key>
		<integer>17</integer>
		<key>y</key>
		<integer>3</integer>
	</dict>
	<key>て</key>
	<dict>
		<key>x</key>
		<integer>18</integer>
		<key>y</key>
		<integer>3</integer>
	</dict>
	<key>と</key>
	<dict>
		<key>x</key>
		<integer>19</integer>
		<key>y</key>
		<integer>3</integer>
	</dict>
	<key>な</key>
	<dict>
		<key>x</key>
		<integer>20</integer>
		<key>y</key>
		<integer>3</integer>
	</dict>
	<key>に</key>
	<dict>
		<key>x</key>
		<integer>21</integer>
		<key>y</key>
		<integer>3</integer>
	</dict>
	<key>ぬ</key>
	<dict>
		<key>x</key>
		<integer>22</integer>
		<key>y</key>
		<integer>3</integer>
	</dict>
	<key>ね</key>
	<dict>
		<key>x</key>
		<integer>23</integer>
		<key>y</key>
		<integer>3</integer>
	</dict>
	<key>の</key>
	<dict>
		<key>x</key>
		<integer>24</integer>
		<key>y</key>
		<integer>3</integer>
	</dict>
	<key>は</key>
	<dict>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>4</integer>
	</dict>
	<key>ひ</key>
	<dict>
		<key>x</key>
		<integer>1</integer>
		<key>y</key>
		<integer>4</integer>
	</dict>
	<key>ふ</key>
	<dict>
		<key>x</key>
		<integer>2</integer>
		<key>y</key>
		<integer>4</integer>
	</dict>
	<key>へ</key>
	<dict>
		<key>x</key>
		<integer>3</integer>
		<key>y</key>
		<integer>4</integer>
	</dict>
	<key>ほ</key>
	<dict>
		<key>x</key>
		<integer>4</integer>
		<key>y</key>
		<integer>4</integer>
	</dict>
	<key>ま</key>
	<dict>
		<key>x</key>
		<integer>5</integer>
		<key>y</key>
		<integer>4</integer>
	</dict>
	<key>み</key>
	<dict>
		<key>x</key>
		<integer>6</integer>
		<key>y</key>
		<integer>4</integer>
	</dict>
	<key>む</key>
	<dict>
		<key>x</key>
		<integer>7</integer>
		<key>y</key>
		<integer>4</integer>
	</dict>
	<key>め</key>
	<dict>
		<key>x</key>
		<integer>8</integer>
		<key>y</key>
		<integer>4</integer>
	</dict>
	<key>も</key>
	<dict>
		<key>x</key>
		<integer>9</integer>
		<key>y</key>
		<integer>4</integer>
	</dict>
	<key>や</key>
	<dict>
		<key>x</key>
		<integer>10</integer>
		<key>y</key>
		<integer>4</integer>
	</dict>
	<key>ゆ</key>
	<dict>
		<key>x</key>
		<integer>11</integer>
		<key>y</key>
		<integer>4</integer>
	</dict>
	<key>よ</key>
	<dict>
		<key>x</key>
		<integer>12</integer>
		<key>y</key>
		<integer>4</integer>
	</dict>
	<key>ら</key>
	<dict>
		<key>x</key>
		<integer>13</integer>
		<key>y</key>
		<integer>4</integer>
	</dict>
	<key>り</key>
	<dict>
		<key>x</key>
		<integer>14</integer>
		<key>y</key>
		<integer>4</integer>
	</dict>
	<key>る</key>
	<dict>
		<key>x</key>
		<integer>15</integer>
		<key>y</key>
		<integer>4</integer>
	</dict>
	<key>れ</key>
	<dict>
		<key>x</key>
		<integer>16</integer>
		<key>y</key>
		<integer>4</integer>
	</dict>
	<key>ろ</key>
	<dict>
		<key>x</key>
		<integer>17</integer>
		<key>y</key>
		<integer>4</integer>
	</dict>
	<key>わ</key>
	<dict>
		<key>x</key>
		<integer>18</integer>
		<key>y</key>
		<integer>4</integer>
	</dict>
	<key>ゐ</key>
	<dict>
		<key>x</key>
		<integer>19</integer>
		<key>y</key>
		<integer>4</integer>
	</dict>
	<key>ゑ</key>
	<dict>
		<key>x</key>
		<integer>20</integer>
		<key>y</key>
		<integer>4</integer>
	</dict>
	<key>を</key>
	<dict>
		<key>x</key>
		<integer>21</integer>
		<key>y</key>
		<integer>4</integer>
	</dict>
	<key>ん</key>
	<dict>
		<key>x</key>
		<integer>22</integer>
		<key>y</key>
		<integer>4</integer>
	</dict>
	<key>が</key>
	<dict>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>5</integer>
	</dict>
	<key>ぎ</key>
	<dict>
		<key>x</key>
		<integer>1</integer>
		<key>y</key>
		<integer>5</integer>
	</dict>
	<key>ぐ</key>
	<dict>
		<key>x</key>
		<integer>2</integer>
		<key>y</key>
		<integer>5</integer>
	</dict>
	<key>げ</key>
	<dict>
		<key>x</key>
		<integer>3</integer>
		<key>y</key>
		<integer>5</integer>
	</dict>
	<key>ご</key>
	<dict>
		<key>x</key>
		<integer>4</integer>
		<key>y</key>
		<integer>5</integer>
	</dict>
	<key>ざ</key>
	<dict>
		<key>x</key>
		<integer>5</integer>
		<key>y</key>
		<integer>5</integer>
	</dict>
	<key>じ</key>
	<dict>
		<key>x</key>
		<integer>6</integer>
		<key>y</key>
		<integer>5</integer>
	</dict>
	<key>ず</key>
	<dict>
		<key>x</key>
		<integer>7</integer>
		<key>y</key>
		<integer>5</integer>
	</dict>
	<key>ぜ</key>
	<dict>
		<key>x</key>
		<integer>8</integer>
		<key>y</key>
		<integer>5</integer>
	</dict>
	<key>ぞ</key>
	<dict>
		<key>x</key>
		<integer>9</integer>
		<key>y</key>
		<integer>5</integer>
	</dict>
	<key>だ</key>
	<dict>
		<key>x</key>
		<integer>10</integer>
		<key>y</key>
		<integer>5</integer>
	</dict>
	<key>ぢ</key>
	<dict>
		<key>x</key>
		<integer>11</integer>
		<key>y</key>
		<integer>5</integer>
	</dict>
	<key>づ</key>
	<dict>
		<key>x</key>
		<integer>12</integer>
		<key>y</key>
		<integer>5</integer>
	</dict>
	<key>で</key>
	<dict>
		<key>x</key>
		<integer>13</integer>
		<key>y</key>
		<integer>5</integer>
	</dict>
	<key>ど</key>
	<dict>
		<key>x</key>
		<integer>14</integer>
		<key>y</key>
		<integer>5</integer>
	</dict>
	<key>ば</key>
	<dict>
		<key>x</key>
		<integer>15</integer>
		<key>y</key>
		<integer>5</integer>
	</dict>
	<key>び</key>
	<dict>
		<key>x</key>
		<integer>16</integer>
		<key>y</key>
		<integer>5</integer>
	</dict>
	<key>ぶ</key>
	<dict>
		<key>x</key>
		<integer>17</integer>
		<key>y</key>
		<integer>5</integer>
	</dict>
	<key>べ</key>
	<dict>
		<key>x</key>
		<integer>18</integer>
		<key>y</key>
		<integer>5</integer>
	</dict>
	<key>ぼ</key>
	<dict>
		<key>x</key>
		<integer>19</integer>
		<key>y</key>
		<integer>5</integer>
	</dict>
	<key>ぱ</key>
	<dict>
		<key>x</key>
		<integer>20</integer>
		<key>y</key>
		<integer>5</integer>
	</dict>
	<key>ぴ</key>
	<dict>
		<key>x</key>
		<integer>21</integer>
		<key>y</key>
		<integer>5</integer>
	</dict>
	<key>ぷ</key>
	<dict>
		<key>x</key>
		<integer>22</integer>
		<key>y</key>
		<integer>5</integer>
	</dict>
	<key>ぺ</key>
	<dict>
		<key>x</key>
		<integer>23</integer>
		<key>y</key>
		<integer>5</integer>
	</dict>
	<key>ぽ</key>
	<dict>
		<key>x</key>
		<integer>24</integer>
		<key>y</key>
		<integer>5</integer>
	</dict>
	<key>ぁ</key>
	<dict>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>6</integer>
	</dict>
	<key>ぃ</key>
	<dict>
		<key>x</key>
		<integer>1</integer>
		<key>y</key>
		<integer>6</integer>
	</dict>
	<key>ぅ</key>
	<dict>
		<key>x</key>
		<integer>2</integer>
		<key>y</key>
		<integer>6</integer>
	</dict>
	<key>ぇ</key>
	<dict>
		<key>x</key>
		<integer>3</integer>
		<key>y</key>
		<integer>6</integer>
	</dict>
	<key>ぉ</key>
	<dict>
		<key>x</key>
		<integer>4</integer>
		<key>y</key>
		<integer>6</integer>
	</dict>
	<key>っ</key>
	<dict>
		<key>x</key>
		<integer>5</integer>
		<key>y</key>
		<integer>6</integer>
	</dict>
	<key>ゃ</key>
	<dict>
		<key>x</key>
		<integer>6</integer>
		<key>y</key>
		<integer>6</integer>
	</dict>
	<key>ゅ</key>
	<dict>
		<key>x</key>
		<integer>7</integer>
		<key>y</key>
		<integer>6</integer>
	</dict>
	<key>ょ</key>
	<dict>
		<key>x</key>
		<integer>8</integer>
		<key>y</key>
		<integer>6</integer>
	</dict>
	<key>ア</key>
	<dict>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>7</integer>
	</dict>
	<key>イ</key>
	<dict>
		<key>x</key>
		<integer>1</integer>
		<key>y</key>
		<integer>7</integer>
	</dict>
	<key>ウ</key>
	<dict>
		<key>x</key>
		<integer>2</integer>
		<key>y</key>
		<integer>7</integer>
	</dict>
	<key>エ</key>
	<dict>
		<key>x</key>
		<integer>3</integer>
		<key>y</key>
		<integer>7</integer>
	</dict>
	<key>オ</key>
	<dict>
		<key>x</key>
		<integer>4</integer>
		<key>y</key>
		<integer>7</integer>
	</dict>
	<key>カ</key>
	<dict>
		<key>x</key>
		<integer>5</integer>
		<key>y</key>
		<integer>7</integer>
	</dict>
	<key>キ</key>
	<dict>
		<key>x</key>
		<integer>6</integer>
		<key>y</key>
		<integer>7</integer>
	</dict>
	<key>ク</key>
	<dict>
		<key>x</key>
		<integer>7</integer>
		<key>y</key>
		<integer>7</integer>
	</dict>
	<key>ケ</key>
	<dict>
		<key>x</key>
		<integer>8</integer>
		<key>y</key>
		<integer>7</integer>
	</dict>
	<key>コ</key>
	<dict>
		<key>x</key>
		<integer>9</integer>
		<key>y</key>
		<integer>7</integer>
	</dict>
	<key>サ</key>
	<dict>
		<key>x</key>
		<integer>10</integer>
		<key>y</key>
		<integer>7</integer>
	</dict>
	<key>シ</key>
	<dict>
		<key>x</key>
		<integer>11</integer>
		<key>y</key>
		<integer>7</integer>
	</dict>
	<key>ス</key>
	<dict>
		<key>x</key>
		<integer>12</integer>
		<key>y</key>
		<integer>7</integer>
	</dict>
	<key>セ</key>
	<dict>
		<key>x</key>
		<integer>13</integer>
		<key>y</key>
		<integer>7</integer>
	</dict>
	<key>ソ</key>
	<dict>
		<key>x</key>
		<integer>14</integer>
		<key>y</key>
		<integer>7</integer>
	</dict>
	<key>タ</key>
	<dict>
		<key>x</key>
		<integer>15</integer>
		<key>y</key>
		<integer>7</integer>
	</dict>
	<key>チ</key>
	<dict>
		<key>x</key>
		<integer>16</integer>
		<key>y</key>
		<integer>7</integer>
	</dict>
	<key>ツ</key>
	<dict>
		<key>x</key>
		<integer>17</integer>
		<key>y</key>
		<integer>7</integer>
	</dict>
	<key>テ</key>
	<dict>
		<key>x</key>
		<integer>18</integer>
		<key>y</key>
		<integer>7</integer>
	</dict>
	<key>ト</key>
	<dict>
		<key>x</key>
		<integer>19</integer>
		<key>y</key>
		<integer>7</integer>
	</dict>
	<key>ナ</key>
	<dict>
		<key>x</key>
		<integer>20</integer>
		<key>y</key>
		<integer>7</integer>
	</dict>
	<key>ニ</key>
	<dict>
		<key>x</key>
		<integer>21</integer>
		<key>y</key>
		<integer>7</integer>
	</dict>
	<key>ヌ</key>
	<dict>
		<key>x</key>
		<integer>22</integer>
		<key>y</key>
		<integer>7</integer>
	</dict>
	<key>ネ</key>
	<dict>
		<key>x</key>
		<integer>23</integer>
		<key>y</key>
		<integer>7</integer>
	</dict>
	<key>ノ</key>
	<dict>
		<key>x</key>
		<integer>24</integer>
		<key>y</key>
		<integer>7</integer>
	</dict>
	<key>ハ</key>
	<dict>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>8</integer>
	</dict>
	<key>ヒ</key>
	<dict>
		<key>x</key>
		<integer>1</integer>
		<key>y</key>
		<integer>8</integer>
	</dict>
	<key>フ</key>
	<dict>
		<key>x</key>
		<integer>2</integer>
		<key>y</key>
		<integer>8</integer>
	</dict>
	<key>ヘ</key>
	<dict>
		<key>x</key>
		<integer>3</integer>
		<key>y</key>
		<integer>8</integer>
	</dict>
	<key>ホ</key>
	<dict>
		<key>x</key>
		<integer>4</integer>
		<key>y</key>
		<integer>8</integer>
	</dict>
	<key>マ</key>
	<dict>
		<key>x</key>
		<integer>5</integer>
		<key>y</key>
		<integer>8</integer>
	</dict>
	<key>ミ</key>
	<dict>
		<key>x</key>
		<integer>6</integer>
		<key>y</key>
		<integer>8</integer>
	</dict>
	<key>ム</key>
	<dict>
		<key>x</key>
		<integer>7</integer>
		<key>y</key>
		<integer>8</integer>
	</dict>
	<key>メ</key>
	<dict>
		<key>x</key>
		<integer>8</integer>
		<key>y</key>
		<integer>8</integer>
	</dict>
	<key>モ</key>
	<dict>
		<key>x</key>
		<integer>9</integer>
		<key>y</key>
		<integer>8</integer>
	</dict>
	<key>ヤ</key>
	<dict>
		<key>x</key>
		<integer>10</integer>
		<key>y</key>
		<integer>8</integer>
	</dict>
	<key>ユ</key>
	<dict>
		<key>x</key>
		<integer>11</integer>
		<key>y</key>
		<integer>8</integer>
	</dict>
	<key>ヨ</key>
	<dict>
		<key>x</key>
		<integer>12</integer>
		<key>y</key>
		<integer>8</integer>
	</dict>
	<key>ラ</key>
	<dict>
		<key>x</key>
		<integer>13</integer>
		<key>y</key>
		<integer>8</integer>
	</dict>
	<key>リ</key>
	<dict>
		<key>x</key>
		<integer>14</integer>
		<key>y</key>
		<integer>8</integer>
	</dict>
	<key>ル</key>
	<dict>
		<key>x</key>
		<integer>15</integer>
		<key>y</key>
		<integer>8</integer>
	</dict>
	<key>レ</key>
	<dict>
		<key>x</key>
		<integer>16</integer>
		<key>y</key>
		<integer>8</integer>
	</dict>
	<key>ロ</key>
	<dict>
		<key>x</key>
		<integer>17</integer>
		<key>y</key>
		<integer>8</integer>
	</dict>
	<key>ワ</key>
	<dict>
		<key>x</key>
		<integer>18</integer>
		<key>y</key>
		<integer>8</integer>
	</dict>
	<key>ヰ</key>
	<dict>
		<key>x</key>
		<integer>19</integer>
		<key>y</key>
		<integer>8</integer>
	</dict>
	<key>ヱ</key>
	<dict>
		<key>x</key>
		<integer>20</integer>
		<key>y</key>
		<integer>8</integer>
	</dict>
	<key>ヲ</key>
	<dict>
		<key>x</key>
		<integer>21</integer>
		<key>y</key>
		<integer>8</integer>
	</dict>
	<key>ン</key>
	<dict>
		<key>x</key>
		<integer>22</integer>
		<key>y</key>
		<integer>8</integer>
	</dict>
	<key>ガ</key>
	<dict>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>9</integer>
	</dict>
	<key>ギ</key>
	<dict>
		<key>x</key>
		<integer>1</integer>
		<key>y</key>
		<integer>9</integer>
	</dict>
	<key>グ</key>
	<dict>
		<key>x</key>
		<integer>2</integer>
		<key>y</key>
		<integer>9</integer>
	</dict>
	<key>ゲ</key>
	<dict>
		<key>x</key>
		<integer>3</integer>
		<key>y</key>
		<integer>9</integer>
	</dict>
	<key>ゴ</key>
	<dict>
		<key>x</key>
		<integer>4</integer>
		<key>y</key>
		<integer>9</integer>
	</dict>
	<key>ザ</key>
	<dict>
		<key>x</key>
		<integer>5</integer>
		<key>y</key>
		<integer>9</integer>
	</dict>
	<key>ジ</key>
	<dict>
		<key>x</key>
		<integer>6</integer>
		<key>y</key>
		<integer>9</integer>
	</dict>
	<key>ズ</key>
	<dict>
		<key>x</key>
		<integer>7</integer>
		<key>y</key>
		<integer>9</integer>
	</dict>
	<key>ゼ</key>
	<dict>
		<key>x</key>
		<integer>8</integer>
		<key>y</key>
		<integer>9</integer>
	</dict>
	<key>ゾ</key>
	<dict>
		<key>x</key>
		<integer>9</integer>
		<key>y</key>
		<integer>9</integer>
	</dict>
	<key>ダ</key>
	<dict>
		<key>x</key>
		<integer>10</integer>
		<key>y</key>
		<integer>9</integer>
	</dict>
	<key>ヂ</key>
	<dict>
		<key>x</key>
		<integer>11</integer>
		<key>y</key>
		<integer>9</integer>
	</dict>
	<key>ヅ</key>
	<dict>
		<key>x</key>
		<integer>12</integer>
		<key>y</key>
		<integer>9</integer>
	</dict>
	<key>デ</key>
	<dict>
		<key>x</key>
		<integer>13</integer>
		<key>y</key>
		<integer>9</integer>
	</dict>
	<key>ド</key>
	<dict>
		<key>x</key>
		<integer>14</integer>
		<key>y</key>
		<integer>9</integer>
	</dict>
	<key>バ</key>
	<dict>
		<key>x</key>
		<integer>15</integer>
		<key>y</key>
		<integer>9</integer>
	</dict>
	<key>ビ</key>
	<dict>
		<key>x</key>
		<integer>16</integer>
		<key>y</key>
		<integer>9</integer>
	</dict>
	<key>ブ</key>
	<dict>
		<key>x</key>
		<integer>17</integer>
		<key>y</key>
		<integer>9</integer>
	</dict>
	<key>ベ</key>
	<dict>
		<key>x</key>
		<integer>18</integer>
		<key>y</key>
		<integer>9</integer>
	</dict>
	<key>ボ</key>
	<dict>
		<key>x</key>
		<integer>19</integer>
		<key>y</key>
		<integer>9</integer>
	</dict>
	<key>パ</key>
	<dict>
		<key>x</key>
		<integer>20</integer>
		<key>y</key>
		<integer>9</integer>
	</dict>
	<key>ピ</key>
	<dict>
		<key>x</key>
		<integer>21</integer>
		<key>y</key>
		<integer>9</integer>
	</dict>
	<key>プ</key>
	<dict>
		<key>x</key>
		<integer>22</integer>
		<key>y</key>
		<integer>9</integer>
	</dict>
	<key>ペ</key>
	<dict>
		<key>x</key>
		<integer>23</integer>
		<key>y</key>
		<integer>9</integer>
	</dict>
	<key>ポ</key>
	<dict>
		<key>x</key>
		<integer>24</integer>
		<key>y</key>
		<integer>9</integer>
	</dict>
	<key>ヴ</key>
	<dict>
		<key>x</key>
		<integer>25</integer>
		<key>y</key>
		<integer>9</integer>
	</dict>
	<key>ァ</key>
	<dict>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>10</integer>
	</dict>
	<key>ィ</key>
	<dict>
		<key>x</key>
		<integer>1</integer>
		<key>y</key>
		<integer>10</integer>
	</dict>
	<key>ゥ</key>
	<dict>
		<key>x</key>
		<integer>2</integer>
		<key>y</key>
		<integer>10</integer>
	</dict>
	<key>ェ</key>
	<dict>
		<key>x</key>
		<integer>3</integer>
		<key>y</key>
		<integer>10</integer>
	</dict>
	<key>ォ</key>
	<dict>
		<key>x</key>
		<integer>4</integer>
		<key>y</key>
		<integer>10</integer>
	</dict>
	<key>ッ</key>
	<dict>
		<key>x</key>
		<integer>5</integer>
		<key>y</key>
		<integer>10</integer>
	</dict>
	<key>ャ</key>
	<dict>
		<key>x</key>
		<integer>6</integer>
		<key>y</key>
		<integer>10</integer>
	</dict>
	<key>ュ</key>
	<dict>
		<key>x</key>
		<integer>7</integer>
		<key>y</key>
		<integer>10</integer>
	</dict>
	<key>ョ</key>
	<dict>
		<key>x</key>
		<integer>8</integer>
		<key>y</key>
		<integer>10</integer>
	</dict>
	<key>ー</key>
	<dict>
		<key>x</key>
		<integer>9</integer>
		<key>y</key>
		<integer>10</integer>
	</dict>
	<key>!</key>
	<dict>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>11</integer>
	</dict>
	<key>\</key>
	<dict>
		<key>x</key>
		<integer>21</integer>
		<key>y</key>
		<integer>11</integer>
	</dict>
	<key>#</key>
	<dict>
		<key>x</key>
		<integer>2</integer>
		<key>y</key>
		<integer>11</integer>
	</dict>
	<key>$</key>
	<dict>
		<key>x</key>
		<integer>3</integer>
		<key>y</key>
		<integer>11</integer>
	</dict>
	<key>%</key>
	<dict>
		<key>x</key>
		<integer>4</integer>
		<key>y</key>
		<integer>11</integer>
	</dict>
	<key>&amp;</key>
	<dict>
		<key>x</key>
		<integer>5</integer>
		<key>y</key>
		<integer>11</integer>
	</dict>
	<key>&apos;</key>
	<dict>
		<key>x</key>
		<integer>6</integer>
		<key>y</key>
		<integer>11</integer>
	</dict>
	<key>(</key>
	<dict>
		<key>x</key>
		<integer>7</integer>
		<key>y</key>
		<integer>11</integer>
	</dict>
	<key>)</key>
	<dict>
		<key>x</key>
		<integer>8</integer>
		<key>y</key>
		<integer>11</integer>
	</dict>
	<key>*</key>
	<dict>
		<key>x</key>
		<integer>9</integer>
		<key>y</key>
		<integer>11</integer>
	</dict>
	<key>+</key>
	<dict>
		<key>x</key>
		<integer>10</integer>
		<key>y</key>
		<integer>11</integer>
	</dict>
	<key>,</key>
	<dict>
		<key>x</key>
		<integer>11</integer>
		<key>y</key>
		<integer>11</integer>
	</dict>
	<key>-</key>
	<dict>
		<key>x</key>
		<integer>12</integer>
		<key>y</key>
		<integer>11</integer>
	</dict>
	<key>.</key>
	<dict>
		<key>x</key>
		<integer>13</integer>
		<key>y</key>
		<integer>11</integer>
	</dict>
	<key>/</key>
	<dict>
		<key>x</key>
		<integer>14</integer>
		<key>y</key>
		<integer>11</integer>
	</dict>
	<key>&lt;</key>
	<dict>
		<key>x</key>
		<integer>15</integer>
		<key>y</key>
		<integer>11</integer>
	</dict>
	<key>=</key>
	<dict>
		<key>x</key>
		<integer>16</integer>
		<key>y</key>
		<integer>11</integer>
	</dict>
	<key>&gt;</key>
	<dict>
		<key>x</key>
		<integer>17</integer>
		<key>y</key>
		<integer>11</integer>
	</dict>
	<key>?</key>
	<dict>
		<key>x</key>
		<integer>18</integer>
		<key>y</key>
		<integer>11</integer>
	</dict>
	<key>@</key>
	<dict>
		<key>x</key>
		<integer>19</integer>
		<key>y</key>
		<integer>11</integer>
	</dict>
	<key>[</key>
	<dict>
		<key>x</key>
		<integer>20</integer>
		<key>y</key>
		<integer>11</integer>
	</dict>
	<key>]</key>
	<dict>
		<key>x</key>
		<integer>22</integer>
		<key>y</key>
		<integer>11</integer>
	</dict>
	<key>^</key>
	<dict>
		<key>x</key>
		<integer>23</integer>
		<key>y</key>
		<integer>11</integer>
	</dict>
	<key>_</key>
	<dict>
		<key>x</key>
		<integer>24</integer>
		<key>y</key>
		<integer>11</integer>
	</dict>
	<key>`</key>
	<dict>
		<key>x</key>
		<integer>25</integer>
		<key>y</key>
		<integer>11</integer>
	</dict>
	<key>:</key>
	<dict>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>12</integer>
	</dict>
	<key>;</key>
	<dict>
		<key>x</key>
		<integer>1</integer>
		<key>y</key>
		<integer>12</integer>
	</dict>
	<key>{</key>
	<dict>
		<key>x</key>
		<integer>2</integer>
		<key>y</key>
		<integer>12</integer>
	</dict>
	<key>|</key>
	<dict>
		<key>x</key>
		<integer>3</integer>
		<key>y</key>
		<integer>12</integer>
	</dict>
	<key>}</key>
	<dict>
		<key>x</key>
		<integer>4</integer>
		<key>y</key>
		<integer>12</integer>
	</dict>
	<key>~</key>
	<dict>
		<key>x</key>
		<integer>5</integer>
		<key>y</key>
		<integer>12</integer>
	</dict>
	<key>、</key>
	<dict>
		<key>x</key>
		<integer>6</integer>
		<key>y</key>
		<integer>12</integer>
	</dict>
	<key>。</key>
	<dict>
		<key>x</key>
		<integer>7</integer>
		<key>y</key>
		<integer>12</integer>
	</dict>
	<key>◯</key>
	<dict>
		<key>x</key>
		<integer>8</integer>
		<key>y</key>
		<integer>12</integer>
	</dict>
	<key>「</key>
	<dict>
		<key>x</key>
		<integer>9</integer>
		<key>y</key>
		<integer>12</integer>
	</dict>
	<key>」</key>
	<dict>
		<key>x</key>
		<integer>10</integer>
		<key>y</key>
		<integer>12</integer>
	</dict>
	<key>『</key>
	<dict>
		<key>x</key>
		<integer>11</integer>
		<key>y</key>
		<integer>12</integer>
	</dict>
	<key>』</key>
	<dict>
		<key>x</key>
		<integer>12</integer>
		<key>y</key>
		<integer>12</integer>
	</dict>
	<key>【</key>
	<dict>
		<key>x</key>
		<integer>13</integer>
		<key>y</key>
		<integer>12</integer>
	</dict>
	<key>】</key>
	<dict>
		<key>x</key>
		<integer>14</integer>
		<key>y</key>
		<integer>12</integer>
	</dict>
	<key>・</key>
	<dict>
		<key>x</key>
		<integer>15</integer>
		<key>y</key>
		<integer>12</integer>
	</dict>
	<key>…</key>
	<dict>
		<key>x</key>
		<integer>16</integer>
		<key>y</key>
		<integer>12</integer>
	</dict>
	<key>▼</key>
	<dict>
		<key>x</key>
		<integer>17</integer>
		<key>y</key>
		<integer>12</integer>
	</dict>
	<key>▶</key>
	<dict>
		<key>x</key>
		<integer>18</integer>
		<key>y</key>
		<integer>12</integer>
	</dict>
	<key>■</key>
	<dict>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key> </key>
	<dict>
		<key>x</key>
		<integer>20</integer>
		<key>y</key>
		<integer>12</integer>
	</dict>
	<key>　</key>
	<dict>
		<key>x</key>
		<integer>20</integer>
		<key>y</key>
		<integer>12</integer>
	</dict>
	<key>TopLeft</key>
	<dict>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>13</integer>
	</dict>
	<key>TopRight</key>
	<dict>
		<key>x</key>
		<integer>1</integer>
		<key>y</key>
		<integer>13</integer>
	</dict>
	<key>BottomLeft</key>
	<dict>
		<key>x</key>
		<integer>2</integer>
		<key>y</key>
		<integer>13</integer>
	</dict>
	<key>BottomRight</key>
	<dict>
		<key>x</key>
		<integer>3</integer>
		<key>y</key>
		<integer>13</integer>
	</dict>
	<key>TopBar</key>
	<dict>
		<key>x</key>
		<integer>4</integer>
		<key>y</key>
		<integer>13</integer>
	</dict>
	<key>BottomBar</key>
	<dict>
		<key>x</key>
		<integer>5</integer>
		<key>y</key>
		<integer>13</integer>
	</dict>
	<key>LeftBar</key>
	<dict>
		<key>x</key>
		<integer>6</integer>
		<key>y</key>
		<integer>13</integer>
	</dict>
	<key>RightBar</key>
	<dict>
		<key>x</key>
		<integer>7</integer>
		<key>y</key>
		<integer>13</integer>
	</dict>
	<key>ButtonTopLeft</key>
	<dict>
		<key>x</key>
		<integer>8</integer>
		<key>y</key>
		<integer>13</integer>
	</dict>
	<key>ButtonTopRight</key>
	<dict>
		<key>x</key>
		<integer>9</integer>
		<key>y</key>
		<integer>13</integer>
	</dict>
	<key>ButtonBottomLeft</key>
	<dict>
		<key>x</key>
		<integer>10</integer>
		<key>y</key>
		<integer>13</integer>
	</dict>
	<key>ButtonBottomRight</key>
	<dict>
		<key>x</key>
		<integer>11</integer>
		<key>y</key>
		<integer>13</integer>
	</dict>
	<key>ButtonTopBar</key>
	<dict>
		<key>x</key>
		<integer>12</integer>
		<key>y</key>
		<integer>13</integer>
	</dict>
	<key>ButtonBottomBar</key>
	<dict>
		<key>x</key>
		<integer>13</integer>
		<key>y</key>
		<integer>13</integer>
	</dict>
	<key>ButtonLeftBar</key>
	<dict>
		<key>x</key>
		<integer>14</integer>
		<key>y</key>
		<integer>13</integer>
	</dict>
	<key>ButtonRightBar</key>
	<dict>
		<key>x</key>
		<integer>15</integer>
		<key>y</key>
		<integer>13</integer>
	</dict>
	<key>Reverse</key>
	<dict>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>14</integer>
	</dict>
</dict>
</plist>
